<%= form_with(url: sign_in_path) do |f| %>
  <h1>Sign in</h1>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.submit 'Sign In'%>
<% end %>